* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100%;
  width: auto;
  position: relative;
  font-family: "Rubik";
}

nav {
  display: flex;
  padding: 2px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.883);
}

.nav-links {
  flex: 1;
  text-align: center;
  margin-bottom: 0;
}

.nav-links ul {
  margin-bottom: 0;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 12px;
  position: relative;
  margin-bottom: 0;
}

.nav-links ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  color: crimson;
}

.item {
  position: relative;
  overflow: hidden;
}

.item video {
  position: relative;
  z-index: -0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: brown;
}
.ra {
  position: absolute;
  padding-left: 7%;
  padding-top: 12%;
  color: white; /* Optionally, set the text color */
  z-index: 2; /* Ensure it appears above the video */
  font-family: coolvetica;
  font-size: 110px;
  text-align: left;
}
.rb {
  position: absolute;
  padding-left: 7%;
  padding-top: 17%;
  color: white; /* Optionally, set the text color */
  z-index: 2; /* Ensure it appears above the video */
  font-family: coolvetica;
  font-size: 85px;
  text-align: left;
}

.item a {
  position: absolute;
  left: 17.5%;
  top: 51.5%;
  color: white; /* Optionally, set the text color */
  z-index: 2; /* Ensure it appears above the video */
  font-family: Montserrat thin;
  font-size: 15px;
  text-align: center;
}
@media (max-height: 1081px) {
  .ra {
    position: absolute;
    padding-left: 7%;
    padding-top: 12%;
    color: white; /* Optionally, set the text color */
    z-index: 2; /* Ensure it appears above the video */
    font-family: coolvetica;
    font-size: 110px;
    text-align: left;
  }
  .rb {
    position: absolute;
    padding-left: 7%;
    padding-top: 17%;
    color: white; /* Optionally, set the text color */
    z-index: 2; /* Ensure it appears above the video */
    font-family: coolvetica;
    font-size: 85px;
    text-align: left;
  }

  .item a {
    position: absolute;
    left: 17.5%;
    top: 51.5%;
    color: white; /* Optionally, set the text color */
    z-index: 2; /* Ensure it appears above the video */
    font-family: Montserrat thin;
    font-size: 15px;
    text-align: center;
  }
}

.item a:hover {
  color: crimson;
  text-decoration: none;
  transition: 0.5s;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: crimson;
  display: block;
  margin: auto;
  transition: 0.3s;
  float: left;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  z-index: 1;
  width: 100%;
  color: aliceblue;
  position: relative;
  bottom: 2%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Rubik";
}

.text-box h2 {
  font-size: 32px;
}

.text-box h4 {
  margin: 10px;
  font-size: 20px;
  color: aliceblue;
}

.text-box a {
  color: aliceblue;
  list-style: none;
}

.text-box a:hover {
  color: rgb(119, 119, 119);
  text-decoration: none;
  transition: 0.5s;
}

.scroll-section {
  padding: 50px;
  background-color: #f5f5f5;
  text-align: center;
  color: #333;
}

section {
  background-color: #f0f0f0;
  text-align: center;
}
s h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 16px;
}

.colagne h2 {
  font-family: coolvetica;
  font-size: 70px;
}

.colagne p {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
}

.colagne {
  padding-top: 40px;
}
